<!-- Header-->
<div class="main">
	<header class="py-5">
		<div class="container px-lg-5">
			<div class="p-4 p-lg-5 bg-light rounded-3 text-center">
				<div class="m-0 m-lg-5">
					<div class="personal-info">
						<h1 class="display-0 fw-bold">Error!</h1>
						<p class="fs-4">Parece que esta página no existe :(</p>
						<button class="btn btn-primary btn-lg" routerLink="/home">Back to Home</button>
					</div>
				</div>
			</div>
		</div>
	</header>
</div>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

<router-outlet></router-outlet>