<!-- Header-->
<div class="main">
	<header class="py-5">
		<div class="container px-lg-5">
			<div class="p-4 p-lg-5 bg-light rounded-3 text-center">
				<div class="m-0 m-lg-5">
					<div class="image-div">
						<img src="../../../assets/user_icon.png" alt="User">
					</div>
					<div class="usr-data">
						<h1 class="display-0 fw-bold" id="usr-data-username">{{ username }}</h1>
						<p class="fs-4" id="usr-data-email">{{ email }}</p>
					</div>
				</div>
				<div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
					<button class="sign-out-btn fw-semibold" (click)="signOut()">Log Out</button>
				</div>
			</div>
		</div>
	</header>
</div>

<router-outlet></router-outlet>