<!-- Header-->
<div class="main">
	<header class="py-5">
		<div class="container px-lg-5">
			<div class="d-flex bg-light rounded-3 text-center justify-content-center">
				<div class="m-0 m-lg-5">
					<div class="image-div">
						<img src="../../../assets/personal_pic.webp" alt="Marcos Laporte">
					</div>
					<div class="personal-info">
						<h1 class="display-0 fw-bold">Marcos Laporte</h1>
						<p class="fs-4">Estudiante de Tecnicatura en Programación (UTN Fra)</p>
						<p class="fs-4">Legajo 111655</p>
						<p class="fs-4">marcoslaporte2015@gmail.com</p>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Page Content-->
	<hr size="1">
	<section class="pt-4">
		<div class="container px-lg-5">
			<!-- Page Features-->
			<div class="d-flex row gx-lg-5 justify-content-center">
				<div class="col-lg-6 col-xxl-4 mb-5">
					<div class="card bg-light border-0 h-100">
						<div class="card-body text-center pt-0 pt-lg-0">
							<div class="game-card feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
								<i class="bi bi-controller"></i>
								<!-- <img src="../../../assets/higher-lower-logo.png" alt="Higher or Lower"> -->
							</div>
							<h2 class="fs-4 fw-bold">My Game</h2>
							<p class="mb-0">No se sabe aún.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>

<router-outlet></router-outlet>