.image-div {
	display: inline-block;
	justify-items: center;
	width: 300px;
	height: 300px;
	border-radius: 50%;
	overflow: hidden;
}

.image-div img {
	width: 100%;
	height: auto;
	display: block !important;
}

.personal-info .fs-4{
	margin: 0;
}

.display-0 {
	font-size: calc(1.425rem + 2.1vw);
	font-weight: 300;
	line-height: 1.2;
}

.mt-n4 {
  margin-top: -1.5rem !important;
}

.feature {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	width: 4rem;
	font-size: 2rem;
}

.game-card {
	overflow: hidden;
}

.game-card img {
	height: 55%;
	width: auto;
	object-fit: cover;
}