<nav class="navbar navbar-expand-sm bg-light" [style.display]="navbarDisplaySty">
	<div class="container px-lg-5">
		<span class="navbar-brand" (click)="newGame()" role="button">New game</span>
		<div class="score">
			<label class="navbar-brand-text">Score: {{score}}</label>
		</div>
	</div>
</nav>

<header class="py-5" [style.display]="headerDisplaySty">
	<div class="container px-lg-5">
		<div class="p-4 p-lg-5 bg-light rounded-3 text-center">
			<div class="m-4 m-lg-5">
				<h1 class="display-5 fw-bold">TRIVIA CRACK</h1>
				<p class="fs-4">Answer these multiple choice questions and beat the highest score!</p>
				<button class="btn btn-primary btn-lg" (click)="newGame()">Start!</button>
			</div>
		</div>
	</div>
</header>
<!-- Header-->
<div class="main pb-5">
	<!-- Page Content-->
	<section class="container px-lg-5">
		<div [style.display]="gameDisplaySty" class="game-container container px-sm-0 py-2 justify-items-center gap-3">
			<div class="question-card">
				<h2 class="card m-2 py-5 px-4 bg-light">{{currentTrivia?.question}}</h2>
			</div>
			<div class="answers">
				<ul class="list-group">
					<li class="card mx-5 my-2 px-3 list-group-item-dark list-group-item-action" *ngFor="let ans of currentTrivia?.answers" (click)="pickAns(ans.answer)">
						{{ans.answer}}
					</li>
				</ul>
			</div>
		</div>
	</section>
</div>