<app-games-nav [style.display]="navbarDisplaySty" (newGameEvent)="newGame()" [score]="score"></app-games-nav>

<header class="py-5" [style.display]="headerDisplaySty">
	<div class="container px-lg-5">
		<div class="p-4 p-lg-5 bg-light rounded-3 text-center">
			<div class="m-4 m-lg-5">
				<h1 class="display-5 fw-bold">TRIVIA CRACK</h1>
				<p class="fs-4">Answer these multiple choice questions and beat the highest score!</p>
				<button class="btn btn-primary btn-lg" (click)="newGame()">Start!</button>
			</div>
		</div>
	</div>
</header>
<!-- Header-->
<div class="main pb-5">
	<!-- Page Content-->
	<div [style.display]="gameDisplaySty" class="game-container container-fluid my-5 px-5">
		<div class="row col-12">
			<h1 class="fw-bold bg-light py-4 px-2 border border-primary rounded">{{currentTrivia?.question}}</h1>

			<div *ngFor="let ans of currentTrivia?.answers; index as i" class="answers">
				<input type="radio" name="box" [id]="(i+1)" class="form-check-input" (click)="pickAns(ans.answer)">
				<label [for]="(i+1)" [class]="'box i_' + (i+1)">
					<div class="course">
						<span class="circle"></span>
						<span class="subject">{{ans.answer}}</span>
					</div>
				</label>
			</div>
		</div>
	</div>
</div>