<div class="main">
	<div class="page-content page-container" id="page-content">
		<div class="padding">
			<div class="row container d-flex justify-content-center">
				<div class="col-md-6">
					<div class="card card-bordered">
						<div class="card-header">
							<h4 class="card-title"><strong>General Chat</strong></h4>
						</div>

						<div class="ps-container ps-theme-default ps-active-y" id="chat-content"
							style="overflow-y: scroll !important; height:400px !important;">
							<div class="media media-chat">
								<div class="media-body">
									<div *ngFor="let msgObj of messages">
										<p [style]="usrMsgStyle(msgObj.user)">{{msgObj.message}}</p>
										<p class="meta">
											<time datetime="2023">{{msgObj.time | date:'dd/MM HH:mm'}}</time>
											| {{msgObj.user.username}} | <b>{{msgObj.user.admin? 'ADMIN': 'USER'}}</b>
										</p>
									</div>
								</div>
							</div>

							<div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;">
								<div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div>
							</div>
							<div class="ps-scrollbar-y-rail" style="top: 0px; height: 0px; right: 2px;">
								<div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 2px;"></div>
							</div>
						</div>

						<div class="publisher bt-1 border-light">
							<img class="avatar avatar-xs" src="../../assets/user_icon.png" alt="Current User">
							<input class="publisher-input" type="text" placeholder="Message" [(ngModel)]="msgText" name="msgText">
							<button class="publisher-btn text-info" (click)="sendMessage()"><i class="fa fa-paper-plane"></i></button>
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</div>