<app-games-nav [style.display]="navbarDisplaySty" (newGameEvent)="newGame()"></app-games-nav>

<header class="py-5" [style.display]="headerDisplaySty">
	<div class="container px-lg-5">
		<div class="p-4 p-lg-5 bg-light rounded-3 text-center">
			<div class="m-4 m-lg-5">
				<h1 class="display-5 fw-bold">HIGHER OR LOWER</h1>
				<p class="fs-4">Guess if the next card will be higher, lower or the same value as the current one.</p>
				<button class="btn btn-primary btn-lg" (click)="newGame()">Start!</button>
			</div>
		</div>
	</div>
</header>
<!-- Header-->
<div class="main pb-5">
	<!-- Page Content-->
	<section class="pt-4">
		<div [style.display]="gameDisplaySty" class="game-container container px-sm-0 py-2 justify-items-center">
			<div class="deck">
				<img id="currentCard" [src]="cardImg" class="mx-2">
				<img id="nextCard" src="../../../../assets/card-back.jpg" class="mx-2" [class]="flipCard ? 'flipped' : ''">
			</div>

			<label for="value-btns">Next card will be:</label>
			<div class="btn-group" id="value-btns">
				<button (click)="checkGuess($event)" value="-1" class="btn-danger px-3 mx-1 fs-5 rounded-3">LOWER</button>
				<button (click)="checkGuess($event)" value="1" class="btn-success px-3 mx-1 fs-5 rounded-3">HIGHER</button>
			</div>
		</div>
	</section>
</div>
