<div class="d-grid keyboard justify-items-center ">
	<div class="keyboard-row-1 justify-items-center d-flex">
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('Q')" [disabled]="disabledKeys.includes('Q')">Q</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('W')" [disabled]="disabledKeys.includes('W')">W</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('E')" [disabled]="disabledKeys.includes('E')">E</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('R')" [disabled]="disabledKeys.includes('R')">R</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('T')" [disabled]="disabledKeys.includes('T')">T</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('Y')" [disabled]="disabledKeys.includes('Y')">Y</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('U')" [disabled]="disabledKeys.includes('U')">U</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('I')" [disabled]="disabledKeys.includes('I')">I</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('O')" [disabled]="disabledKeys.includes('O')">O</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('P')" [disabled]="disabledKeys.includes('P')">P</button>
	</div>
	<div class="keyboard-row-2 justify-items-center d-flex">
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('A')" [disabled]="disabledKeys.includes('A')">A</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('S')" [disabled]="disabledKeys.includes('S')">S</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('D')" [disabled]="disabledKeys.includes('D')">D</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('F')" [disabled]="disabledKeys.includes('F')">F</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('G')" [disabled]="disabledKeys.includes('G')">G</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('H')" [disabled]="disabledKeys.includes('H')">H</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('J')" [disabled]="disabledKeys.includes('J')">J</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('K')" [disabled]="disabledKeys.includes('K')">K</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('L')" [disabled]="disabledKeys.includes('L')">L</button>
	</div>
	<div class="keyboard-row-3 justify-items-center d-flex">
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('Z')" [disabled]="disabledKeys.includes('Z')">Z</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('X')" [disabled]="disabledKeys.includes('X')">X</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('C')" [disabled]="disabledKeys.includes('C')">C</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('V')" [disabled]="disabledKeys.includes('V')">V</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('B')" [disabled]="disabledKeys.includes('B')">B</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('N')" [disabled]="disabledKeys.includes('N')">N</button>
		<button class="key card-body fs-2 font-monospace fw-semibold mx-01" (click)="onKeyPress('M')" [disabled]="disabledKeys.includes('M')">M</button>
	</div>
</div>