<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100">

			<form class="login100-form validate-form">
				<span class="login100-form-title">
					Member Login
				</span>

				<div class="wrap-input100">
					<input class="input100" type="text" placeholder="Email" [(ngModel)]="email" name="email">
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100">
					<input class="input100" type="password" placeholder="Password" [(ngModel)]="pass" name="pass">
					<span class="focus-input100"></span>
				</div>

				<div class="container-login100-form-btn">
					<button class="login100-form-btn" (click)="signInToLS()">
						Login
					</button>
				</div>

				<div class="txt2-div flex-wrap justify-content-between">
					<span class="txt2 text-start text-decoration-underline" routerLink="/signup">Create your Account</span>
					<span class="txt2 text-end text-decoration-underline" (click)="quickFill()">Quick fill</span>
				</div>
			</form>
		</div>
	</div>
</div>

<router-outlet></router-outlet>