<section class="pt-4">
	<div class="container px-lg-5">
		<!-- Page Features-->
		<div class="row gx-lg-5">
			<div class="col-lg-6 col-xxl-6 mb-5">
				<div class="card bg-light border-0 h-100" (click)="selecGame('hangman')">
					<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
						<div class="game-card feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
							<img src="../../assets/hangman-logo.png" alt="Hangman">
						</div>
						<h2 class="fs-4 fw-bold">HANGMAN</h2>
						<p class="mb-0">Guess the word one letter at a time before running out of lives.</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xxl-6 mb-5">
				<div class="card bg-light border-0 h-100" (click)="selecGame('hi-lo')">
					<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
						<div class="game-card feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
							<img src="../../assets/higher-lower-logo.png" alt="Higher or Lower">
						</div>
						<h2 class="fs-4 fw-bold">HIGHER OR LOWER, Card Game</h2>
						<p class="mb-0">Guess if the next card is higher, lower or the same, and earn points!</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xxl-6 mb-5">
				<div class="card bg-light border-0 h-100" (click)="selecGame('trivia')">
					<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
						<div class="game-card feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
							<img src="../../assets/trivia-crack-logo.png" alt="Trivia Crack">
						</div>
						<h2 class="fs-4 fw-bold">TRIVIA CRACK</h2>
						<p class="mb-0">Think and have fun with the best trivia game. Test your knowledge and challenge your friends!</p>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-xxl-6 mb-5">
				<div class="card bg-light border-0 h-100" (click)="selecGame('color-test')">
					<div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
						<div class="game-card feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4">
							<img src="../../assets/color-test-logo.png" alt="Color Test">
						</div>
						<h2 class="fs-4 fw-bold">COLOR TEST</h2>
						<p class="mb-0">Test your vision and find the circle with a different color!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>